@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: LaBelleAurore, sans-serif;
    src: url('font\LaBelleAurore-Regular.ttff'),
  }
h1{
    font-family: LaBelleAurore, sans-serif;
    font-weight: bolder;
}